extends ../layout/template
block body
	body
		.container
			h3= title
			form(action="/add" method="post" class="col s8 myMT")
				div(class="input-field col s6")
					label(for="year")
					input(placeholder="Car year" id="year" name='year' type="number" class="validate" required min=1)
					span(class="helper-text" data-error="Введите год автомобиля")
				div(class="input-field col s6")
					label(for="distance")
					input(placeholder="Car distance" id="distance" name='distance' type="number" class="validate" required min=1)
					span(class="helper-text" data-error="Введите пробег автомобиля")
				div(class="input-field col s6")
					label(for="model")
					input(placeholder="Car brand" id="model" name='model' type="text" class="validate" required)
					span(class="helper-text" data-error="Введите модель автомобиля")
				div(class="input-field col s6")
					label(for="price")
					input(placeholder="Car price" id="price" name='price' type="number" class="validate" required min=1)
					span(class="helper-text" data-error="Введите цену автомобиля")
				div(class="input-field col s6")
					label(for="carlink")
					input(placeholder="Car Image" id="carlink" name='carImg' type="text" class="validate" required)
					span(class="helper-text" data-error="Введите фото автомобиля")
				div(class="input-field col s6")
					button(class="btn btn-primary") upload
