extends ../layout/template
block title
	title Cart
block body
	.container
		h2= title
		table
			thead
				tr
					th Model
					th Price
					th Count
				tbody
					each item in cars
						tr
							td= item.brand
							td= item.price
							td= item.count
		p: b=  count
		p=  price
