nav(class="myNav")
	.nav_wrapper
		a(href="/" class="brand-logo") auto.ru
		ul(id="nav-mobile" class="right hide-on-med-and-down")
			if isCart === true
				li(class='active'): a(href="/cart") Cart
			else
				li: a(href="/cart") Cart
			if isHome === true
				li(class='active'): a(href="/") Home
			else
				li: a(href="/") Home

			if isCar === true
				li(class='active'): a(href="/cars") Cars
			else
				li: a(href="/cars") Cars

			if isAdd === true
				li(class='active'): a(href="/add") Add cars
			else
				li: a(href="/add") Add cars
